h1{color:#142664; font-family:"ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;}
h2{color:#9CAADA; font-family:"ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;}
body{background-image: url(https://github.com/sora5325/selfiewithmiku/blob/main/white_00090.jpg?raw=true);
     background-size: cover;}
