@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

h1{color:#142664;}

h1 {background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;}

h1, h2{text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;}

.btn-square-shadow {
  display: inline-block;
  padding: 2em 4em;
  text-decoration: none;
  background: #80a9f5;/*ボタン色*/
  color: #FFF;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: xx-large;
  border-bottom: solid 15px #627295;
  border-radius: 15px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px #7ca2ec;/*影を小さく*/
  border-bottom: none;
}
